<div class="chat_header">
  <p class="room_name">テストルーム</p>
  <a class="chat_end" href="#">チャットを終了する</a>
</div>

<div class="chat_center">
  <div class="message">
    <p class="message_name">魔法使い</p>
    <p class="message_day">2020/10/07(wed) 18:40:55</p>
  </div>
  <p class="message_text">メラミ</p>
  <div class="message">
    <p class="message_name">スライム</p>
    <p class="message_day">2020/10/07(wed) 18:40:55</p>
  </div>
  <p class="message_text">20のダメージ</p>
</div>

<div class="chat_footer">
  <div class="form">
    <input class="form_message" placeholder="type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
     </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>