    <div class="side_header">
      <div class="name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <a class="room_create" href="#">チャットを作成する</a>
    </div>

    <div class="side_main">
      <a class="room" href="#">テストルーム</a>
      <a href="#" class="room">techroom2</a>
    </div>