    <div class="side_header">
      <a class="name" href="#">とし</a>
      <a class="room_create" href="#">チャットを作成する</a>
    </div>

    <div class="side_main">
      <a class="room" href="#">テストルーム</a>
      <a href="#" class="room">techroom2</a>
    </div>